<div class="ml-4">
    <h1>API Routes</h1>
    <ul>
        <li><a class="text-light" href="/api/users">Users</a></li>
        <li><a class="text-light" href="/api/images">Images</a></li>
        <li><a class="text-light" href="/api/projects">Projects</a></li>
    </ul>
</div>