<div class="d-flex flex-row flex-wrap mx-auto justify-content-center">
    <img src="{{img.url}}" alt="User Picture {{img.id}}" class="d-flex flex-column col-lg-5 m-1 justify-content-center p-2" id="userImg" data-index="{{img.id}}">
</div>

<div class="col-lg-5 mx-auto">
    <label for="project" class="align-middle text-light">Which Project?</label>
    <select class="custom-select" id="project">
        <option selected></option>
        {{#each project}}
        <option>{{title}}</option>
        {{/each}}
    </select>
</div>

<div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary bg-dark border-0 col-3 mt-3" id="submitBtn">Submit</button>
</div>

<script src="/js/applytoproject.js"></script>