<h1 class="text-center">Please Login</h1>
<div class="d-flex flex-column col-lg-3 col-md-5 col-sm-10 mx-auto">
    <label for="username" class="text-light">Username</label>
    <input type="text" id="username">
    <label for="password" class="text-light">Password</label>
    <input type="password" id="password">
    <button id="logInBtn" class="bg-dark text-light m-1">Log In</button>
</div>

<script src="/js/login.js"></script>