<form class="col-6 bg-dark mx-auto mt-5 p-3">
    <div class="row px-2">
        <div class="col-12">
            <label for="title" class="text-light">Title</label>
            <input type="text" class="form-control" id="title">
        </div>
        <div class="col-12">
            <label for="description" class="text-light">Description</label>
            <textarea name="description" id="description" rows="10" class="form-control col-12"></textarea>
        </div>
        <div class="col-12">
            <label for="githubUrl" class="text-light">GitHub URL</label>
            <input type="text" class="form-control" id="githubUrl">
        </div>
        <div class="col-12">
            <label for="siteUrl" class="text-light">Site URL</label>
            <input type="text" class="form-control" id="siteUrl">
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary bg-secondary border-0 col-3 mt-3" id="submitBtn">Submit</button>
    </div>
</form>

<script src="/js/newproject.js"></script>