<form class="col-6 bg-dark mx-auto mt-5 p-3">
    <div class="row px-2">
        <div class="col-12">
            <label for="password" class="text-light">New Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="col-12">
            <label for="confPassword" class="text-light">Confirm Password</label>
            <input type="password" class="form-control" id="confPassword" value="{{user.last_name}}">
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary bg-secondary border-0 col-3 mt-3" id="submitBtn">Submit</button>
    </div>
</form>

<script src="/js/password.js"></script>