:root {
    --light: lightblue;
    --dark: darkblue;
    --heliotrope: #e866ec;
    --hover: darkgray;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--light);
    font-size: 1.75rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--dark);
}

header h1 {
    color: var(--dark);
    background-color: var(--light);
    padding: .5rem;
    margin: 1rem 0;
    border-radius: 8px 0 0 8px;
}

header img {
    margin-right: auto;
    height: 6rem;
    margin: 1rem 0;
    border-radius: 0 8px 8px 0;
}

header nav {
    color: var(--light);
    margin: auto .5rem .5rem auto;
}

header nav a {
    color: var(--light);
}

header nav a:visited {
    color: var(--light);
}

header nav a:hover {
    color: var(--hover)
}

figure {
    background: linear-gradient(
       0deg, var(--light), var(--dark)
    );
    width: 100%;
    height: 10rem;
    margin: 0;
}

figcaption h3 {
    position: relative;
    width: 28rem;
    margin: -5rem 5rem 5rem 75%;
    color: white;
    text-align: center;
    padding: .5rem;
    background-color: transparent;
}

main section {
    flex: 1 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

main #about-me p {
    flex: 1 0;
    margin-top: 2rem;
}

main h2 {
    color: var(--dark);
    text-align: right;
    border-right: .5rem solid var(--dark);
    padding: 1.5rem;
    margin: 1rem 2rem 1rem 0;
    width: 15%;
}

main nav {
    flex: 1 0;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 1rem;
}

main img {
    border: .5rem solid var(--dark);
    margin: .5rem;
    padding: 1px;
    width: 48%;
}

main img:hover {
    box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--dark)
}

main .first-link {
    width: 97%;
}

.contact {
    display: flex;
    padding: 5rem;
    justify-content: space-evenly;
    color: var(--dark);
}

.contact a {
    color: var(--dark);
}

.contact a:visited {
    color: var(--dark);
}

.contact a:hover {
    color: var(--hover)
}

footer {
    text-align: center;
    color: var(--dark);
    padding: 5rem;
}

@media screen and (max-width: 768px) {

    figcaption h3 {
        margin-left: auto;
        margin-right: 0;
    }

    main {
        flex-direction: column;
    }
    
    main .first-link,
    main img {
        width: 90%;
    }

    main h2 {
        text-align: left;
        font-size: 2rem;
    }

}